.navbar{
    background-color: var(--color-primary);
    height:74px;
    width:100%;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

navbar-btn{
    background-color: var(--color-black);
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 600;
    width: 170px;
    height: 47px;
    padding: 10px 16px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

.navbar-btn:hover {
    color: var(--color-white);
  }